.product {
    display: flex;
    padding: 10px;
  }
  .thumbnail {
    max-width: 100px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    margin:10px;
    line-height: 200px;
  }
  img{
    max-width: 100px;
    vertical-align: middle;
  }
  .product .price {
    font-size: 16px;
    font-weight: 600;
  }
  .product .title {
    font-size: 17px;
    font-weight: 600;
  }
  .product .date {
    color: grey;
    font-size: 13px;
  }

  .navbar-brand{
    padding-left: 5%;
  }
  #navbarNav{
    padding-left: 2px;
  }
  .nav-link{
    padding-left: 10px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
  }